* {
    background-color: black;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-around;

}

.game-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameLog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    max-width: 60%;
}

.log-content {
    margin: 0px;
    padding: 8px 8px;
    font-size: 24px;
}

.scoreDisplay {
    font-size: 56px;
}